@page 
@using LittleWork.ExtensionMethods
@using LittleWork.Game
@using LittleWork.Entity
@model LittleWork.Game.IndexModel
@{
    ViewData["Title"] = "Index";
}


<div>
    只显示：
    @if (Request.Query["include"] == "RPG")
    {
        <span>角色扮演</span>
    }
    else
    {
        <a href="/game/index?include=@GameKind.RPG">角色扮演</a>
    }
    @if (Request.Query["include"] == "ACT")
    {
        <span>|</span>
        <span>动作</span>
    }
    else
    {
        <span>|</span>
        <a href="/game/index?include=@GameKind.ACT">动作</a>
    }
    @if (Request.Query["include"] == "MMORPG")
    {
        <span>|</span>
        <span>多人在线</span>
    }
    else
    {
        <span>|</span>
        <a href="/game/index?include=@GameKind.MMORPG">多人在线</a>
    }
    |<a href="/game/index?include=@GameKind.FTG">格斗</a>
    |<a href="/game/index?include=@GameKind.MOBA">多人竞技</a>
    |<a href="/game/index?include=@GameKind.STG">射击</a>
</div>

@foreach (var game in Model.Items)
{
    <small>@game.PublishTime.ToString("yyyy年MM月dd日")</small>

    <p>
        <span style=" font-size:10px;color:red">[@game.Kind.GetDescription()]</span>
        <a href="/game/@game.Id">@game.Title</a>
        <span style=" font-size:10px;color:red"> 作者</span>
        <a href="/user/@game.Author.Id" style=" font-size:10px;color:blue">@game.Author.Name</a>

    </p>
    <small>@game.Abstract</small>
}

<div>
    @{ int currentPageIndex = string.IsNullOrEmpty(Request.Query["pageIndex"]) ? 1 : Convert.ToInt32(Request.Query["pageIndex"]);
        int sumOfGame = Model.SumOfGame;
        string currentInclude = Request.Query["include"];
    }
    @if (string.IsNullOrEmpty(currentInclude))
    {
        @if (currentPageIndex > 1)
        {
            <a href="/problem/pageIndex=@(currentPageIndex-1)">&lt;&lt;</a>
        }
        @for (int i = 1; i <= sumOfGame / Const.PAGE_SIZE + 1; i++)
        {
            <a href="/game?pageIndex=@i">第 @i 页</a>
        }
        @if (currentPageIndex < sumOfGame / Const.PAGE_SIZE + 1)
        {
            <a href="/problem?pageIndex=@(currentPageIndex+1)">&gt;&gt;</a>
        }
    }
    else
    {
        @if (sumOfGame > Const.PAGE_SIZE)
        {
            @if (currentPageIndex > 1)
            {
                <a href="/problem?include=@(currentInclude) &&pageIndex=@(currentPageIndex-1)">&lt;&lt;</a>
            }
            @for (int i = 1; i <= sumOfGame / Const.PAGE_SIZE + 1; i++)
            {
                <a href="/game?include=@(currentInclude)&&pageIndex=@i">第 @i 页</a>
            }
            @if (currentPageIndex < sumOfGame / Const.PAGE_SIZE + 1)
            {
                <a href="/problem?include=@(currentInclude) &&pageIndex=@(currentPageIndex+1)">&gt;&gt;</a>
            }
        }
    }



</div>