@page
@model IndexModel



<main class="container">
    <!--首页中主干内容部分有两栏，根据黄金比例，一栏占7列，一栏占5列-->
    <div class="row">
        <!--左侧为最新留言内容，顶上有个链接，边上有个滚动条，主体是重复的格式，最下面是一个输入框-->
        <article class="col-7">
            <!--pre-scrollable 竖直方向加一个滚动条-->
            <div class="container  pre-scrollable">
                <div class="text-center">
                    <a href="/">更多历史<i class="fa fa-angle-double-up"></i></a>
                </div>
                <div class="row justify-content-start">
                    <div>
                        <a class="btn btn-default btn-outline-danger btn-sm">
                            <span>@@TA</span>
                            <br />
                            <span>回复</span>
                        </a>
                    </div>
                    <div>
                        <p class="small">
                            <span class="text-muted">2020/2/9 14:03:27</span>
                            <a href="/user/230" style="color:deepskyblue">U33445687</a>
                            <span class="text-muted">③</span><br />
                            用户留言和反馈
                        </p>
                    </div>
                </div>
                <br />
                <div class="row justify-content-start">
                    <div>
                        <a class="btn btn-default btn-outline-danger btn-sm left">
                            <span>@@TA</span>
                            <br />
                            <span>回复</span>
                        </a>
                    </div>
                    <div>
                        <p class="small">
                            <span class="text-muted">2020/2/9 14:03:27</span>
                            <a href="/user/230" style="color:deepskyblue">U33445687</a>
                            <span class="text-muted">③</span><br />
                            用户留言和反馈
                        </p>
                    </div>
                </div>
                <br />
                <div class="row justify-content-start">
                    <div>
                        <a class="btn btn-default btn-outline-danger btn-sm left">
                            <span>@@TA</span>
                            <br />
                            <span>回复</span>
                        </a>
                    </div>
                    <div>
                        <p class="small">
                            <span class="text-muted">2020/2/9 14:03:27</span>
                            <a href="/user/230" style="color:deepskyblue">U33445687</a>
                            <span class="text-muted">③</span><br />
                            用户留言和反馈
                        </p>
                    </div>
                </div>
                <br />
                <div class="row justify-content-start">
                    <div>
                        <a class="btn btn-default btn-outline-danger btn-sm left">
                            <span>@@TA</span>
                            <br />
                            <span>回复</span>
                        </a>
                    </div>
                    <div>
                        <p class="small">
                            <span class="text-muted">2020/2/9 14:03:27</span>
                            <a href="/user/230" style="color:deepskyblue">U33445687</a>
                            <span class="text-muted">③</span><br />
                            用户留言和反馈
                        </p>
                    </div>
                </div>
                <br />
                <div class="row justify-content-start">
                    <div>
                        <a class="btn btn-default btn-outline-danger btn-sm left">
                            <span>@@TA</span>
                            <br />
                            <span>回复</span>
                        </a>
                    </div>
                    <div>
                        <p class="small">
                            <span class="text-muted">2020/2/9 14:03:27</span>
                            <a href="/user/230" style="color:deepskyblue">U33445687</a>
                            <span class="text-muted">③</span><br />
                            用户留言和反馈
                        </p>
                    </div>
                </div>
                <br />
                <div class="row justify-content-start">
                    <div>
                        <a class="btn btn-default btn-outline-danger btn-sm left">
                            <span>@@TA</span>
                            <br />
                            <span>回复</span>
                        </a>
                    </div>
                    <div>
                        <p class="small">
                            <span class="text-muted">2020/2/9 14:03:27</span>
                            <a href="/user/230" style="color:deepskyblue">U33445687</a>
                            <span class="text-muted">③</span><br />
                            用户留言和反馈
                        </p>
                    </div>
                    <br />
                </div>
            </div>
            <br />

            <div class="input-group mb-3">
                <!--巧妙的使用flex-row-reverse加上bootstrap4说明书可以做很多东西-->

                <input type="text" class="form-control form-control-range" placeholder="我来说两句" aria-label="Default"
                       aria-describedby="inputGroup-sizing-default">
                <div class="input-group-append">
                    <span class="input-group-text" id="inputGroup-sizing-default">发表</span>
                </div>
            </div>
        </article>


        <aside class="col-5 align-content-center">
            <h3>
                
                “源栈”Web开发培训班<br>
                   
                <span style="color:red">
                    <i class="fa fa-fire"></i>
                    火热
                </span>
                <span>招生中</span>
            </h3>
            <p>
                线上：全程直播
                <b>免费</b>
                收看
            </p>
            <p>
                线下：
                <b>灵活</b>
                学制，拎包入住
            </p>
            <p>
                有意向的同学，可以加QQ群：326801052
            </p>
            <div class="text-center">
                <img class="justify-content-center" src="~/image/qq-group.png" alt="QQ学习群：326801052">
            </div>
        </aside>
    </div>
</main>