@page
@model LittleWork.Calendar2Model
@{
    ViewData["Title"] = "Calendar2";
}

<h1>Calendar2</h1>

@{
    DateTime date = DateTime.Now;
    int currentMonth = date.Month;
    int currentYear = date.Year;
    DateTime firstDayInMonth = new DateTime(currentYear, currentMonth, 1);
    int firstDayWeek = (int)firstDayInMonth.DayOfWeek;
    DateTime firstSundayInCalendar = (firstDayWeek == 0 ? firstDayInMonth : firstDayInMonth.AddDays(-firstDayWeek));

}


<table border="1" style="text-align:center">
    <thead>
        <tr>
            <td colspan="2">&lt;&lt;</td>
            <td colspan="3">@currentYear 年- @currentMonth 月</td>
            <td colspan="2">&gt;&gt;</td>
        </tr>
        <tr>
            <th>星期日</th>
            <th>星期一</th>
            <th>星期二</th>
            <th>星期三</th>
            <th>星期四</th>
            <th>星期五</th>
            <th>星期六</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 5; i++)
        {
            <tr>
                @for (int j = 0; j < 7; j++)
                {
                    <td>@firstSundayInCalendar.AddDays(7 * i).AddDays(j).Day</td>
                }
            </tr>
        }
    </tbody>
</table>